<ul id="Bars">
	<li class="photo"><%= link_to(image_tag("bar1.jpg"), bar1_path) %></li>
	<li class="photo"><%= image_tag("bar2.jpg") %></li>
	<li class="photo"><%= image_tag("bar3.jpg") %></li>
	<li class="photo"><%= image_tag("bar4.jpg") %></li>
	<li class="photo"><%= image_tag("bar5.jpg") %></li>
	<li class="photo"><%= image_tag("bar6.jpg") %></li>
	<li class="photo"><%= image_tag("bar7.jpg") %></li>
	<li class="photo"><%= image_tag("bar8.jpg") %></li>
	<li class="photo"><%= image_tag("bar9.jpg") %></li>
	<li class="photo"><%= image_tag("bar10.jpg") %></li>
</ul>






<%# <% @posts.each do |post| %>
	<%# <h2><%= link_to post.title, post %> <%#</h2>
<% end %> <%# %>

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML.js"></script>

	